<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/css/style.css">

    <title>Support Chatbox</title>
</head>
<body>
    <h1>Support Chatbox</h1>
    <p><b>
        This page on purpose doesn't have any content. The goal of this project is an implementation of a chatbot
        that is based on a set of dialogs. Means it has predefined conversation. Possible application could be
        a customer support chatbot. Chatbox is situated in right corner.
    </b></p>

    <!-- Chatbox -->
    <div class="chatbox_container">
        <button class="toggle_chat" id="toggle_btn" onclick="toggle_chat()">💬</button>
        <div class="chatbox" id="chatbox">
            <div class="chatbox_header">
                Support Chat
                <button class="close_btn" onclick="toggle_chat()">✖</button>
            </div>
            <div class="chatbox_body" id="chatbox_body">
                <div class="message response_message">Hello! How can I assist you today?</div>
            </div>
            <div class="chatbox_footer">
                <form>
                    <input type="text" id="chat_input" placeholder="Type a message...">
                    <button id="submit" type="submit" onclick="send_message()">Send</button>
                </form>
            </div>
        </div>
    </div>

    <script src="../static/js/script.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>